article.bank {
    margin-bottom: 25px;
}

article.bank .article__image {
    height: 250px;
    margin-bottom: 15px;
}

article.bank .article__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.bank h2 {
    font-size: 30px;
}

article.bank a {
    margin-top: 15px;
}

article.bank a:visited {
    color: #fff;
}

.pagination {
    justify-content: center;
}

.nav-links .page-numbers {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

.nav-links .page-numbers:hover {
    text-decoration: none;
}

.nav-links .page-numbers.current {
    background-color: rgb(33, 33, 33);
    color: #fff;
}
.nav-links .page-numbers.next, .nav-links .page-numbers.prev {
    width: auto;
    padding: 0 15px;
}

.article-single__img img {
    width: 100%;
}

.article-single__meta {
    margin-bottom: 20px;
}

.article-single__meta .label {
    font-weight: bold;
}

.article-single__descr {
    margin-bottom: 20px;
}

.article-single__gallery .row > div {
    margin-bottom: 30px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-list {
    margin: 0 -15px !important;
}

.slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
    background-color: #000;
}

.slick-prev:before, .slick-next:before {
    font-family: inherit;
}

.navigation.post-navigation {
    margin-top: 40px;
}

